/*

Author:     Andrew Appleton
Author URL: http://floatleft.com/

Contents:

1.  Global Styles & Typography
2.  Modules
3.  Pages

*/

@import url(lib/reset.css);
/*********************************************************************************/
/*----------------------- 1.  Global Styles & Typography  -----------------------*/
/*********************************************************************************/

/**************************** General  ********************************************/
html{}
body{}

/**************************** Typography  ****************************************/
h1,h2,h3,h4,h5,h6{
  font-weight:bold;
}
h1{}
h2{}
h3{}
h4{}
h5{}
h6{}
p{}
em{
  font-style:italic;
}
strong{
  font-weight:bold;
}
b{
  font-weight:normal;
}
sup{
  font-size:0.8em;
  vertical-align:super;
}
ul,ol,dl{}
ul li, ol li{}
blockquote{}

/**************************** Links  *********************************************/
a{
  text-decoration:underline;
}
a:hover{
  text-decoration:none;
}
a:active{
  position:relative;
  top:1px;
}

/**************************** Buttons  *******************************************/
a.button, .submit button{}
a.button:hover, .submit button:hover{}
a.button:active, .submit button:active{}

/*********************************************************************************/
/*----------------------- 2.  Modules  ------------------------------------------*/
/* Styles for reusable HTML modules ---------------------------------------------*/
/*********************************************************************************/


/*********************************************************************************/
/*----------------------- 3.  Pages  --------------------------------------------*/
/* Styles for individual pages, scoped to <html> element id or class ------------*/
/*********************************************************************************/
/**************************** Index  *********************************************/
